.accordion-panel {
    height: 0px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}

.accordion-item {
    background: #e0e0e0;
    border: 0.5px solid #868686;
    border-radius: 3px;
    padding: 5px 8px;
    display: block;
}

    .accordion-item:hover {
        background: #d0d0d0;
        border-color: #757575;
    }

.accordion-panel {
    background: #f0f0f0;
    padding: 0px 5px;
    margin-bottom: 5px;
}

    .accordion-panel.active {
        border: 0.5px solid #535353;
        border-radius: 3px;
    }

    .accordion-panel p {
        margin: 5px 0px;
    }